.logo_with_text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo_img{
    padding: 0.5rem;
}

.logo_image{
    height: 50px;
    width: 50px;
}

.logo_text{
    display: flex;
    flex-direction: column;
    font-family: "Caudex";
}

.logo_text_1{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    
}

.logo_text_2{
    font-size: 1rem;
    
}

